{% load static %}
        {% block sidebar %}
                <!-- ========== Left Sidebar Start ========== -->
                <div class="vertical-menu">

                    <div data-simplebar class="h-100">
        
                        <!--- Sidemenu -->
                        <div id="sidebar-menu">
                            <!-- Left Menu Start -->
                            <ul class="metismenu list-unstyled" id="side-menu">
                                <li class="menu-title">Menu</li>
        
                                <li>
                                    <a href="{% url 'home' %}" class="waves-effect"><i class="feather-airplay"></i><span>Introduction</span></a>
                                </li>
        
                                <li>
                                    <a href="{% url 'transactions' %}" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Transactions</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'staking' %}" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Stakings</span></a>
                                </li>
                                <li>
                                    <a href="{% url 'swaps' %}" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Swaps</span></a>
                                </li>                        
                                
                                <li>
                                    <a href="{% url 'airdrops' %}" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Airdrops</span></a>
                                </li>
        
        
                                <li>
                                    <a href="{% url 'prices' %}" class="waves-effect"><i class="fas fa-chart-bar"></i><span>Prices</span></a>
                                </li>        
                            </ul>
        
                            <div class="help-box">
                                <h5 class="text-muted font-size-15 mb-3">For Help & Support</h5>
                                <p class="font-size-13"><span class="font-weight-bold">Email:</span> <br> ilbagy.diako@gmail.com</p>
                                <p class="mb-0 font-size-13"><span class="font-weight-bold">Call:</span> <br> (+98) 9399733947</p>
                            </div>
                        </div>
                        <!-- Sidebar -->
                    </div>
                </div>
                <!-- Left Sidebar End -->
        {% endblock sidebar %}
