{% extends '_base.html' %}
{% load static %}
{% block title %}<title>Airdrops</title>{% endblock title %}
{% block content %}
        
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Prices</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Prices</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>    
                  </div>  
                    <!-- end page title -->
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Airdrops</h4>
                                    <p class="card-subtitle mb-4">Airdrops</p>

                                    <div id="transactions"></div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                      
                                                
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Airdrops Polar</h4>
                                    <p class="card-subtitle mb-4">Airdrops</p>

                                    <div id="transactions-polar"></div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                      </div>
                      <div class="row">
                        <div  class="col-xl-12">
                          <div class="card border-primary mb-3" style="max-width: 90rem;">
                            <div class="card-header">Airdrops</div>
                            <div class="card-body text-primary">
                              <h5 class="card-title">What Is a Cryptocurrency Airdrop?</h5>
                                <p class="card-text text-dark">
                                 
                                  A cryptocurrency airdrop is a marketing strategy that involves sending coins or tokens to wallet addresses. Small amounts of the new virtual currency are sent to the wallets of active members of the blockchain community for free or in return for a small service, such as retweeting a post sent by the company issuing the currency. The ultimate goal of a crypto airdrop is to promote awareness and circulation of a new token or coin.
                                  
                                  KEY TAKEAWAYS
                                  A crypto airdrop is a marketing method employed by startups in the cryptocurrency space.
                                  It involves delivering tokens to the wallets of current cryptocurrency traders, either for free or in exchange for a small promotional service.
                                  The airdrop is meant to spread awareness and increase ownership of the currency startup.
                                  While some are legitimate, other airdrops have been seen as fraudulent when attempting to steal wallet or personal information.
                                  Airdrops may be based on those who express interest, hold existing tokens, are intentionally selected, or win raffles.
                                </p>
                                <p class="card-text text-dark">
                                  <h5 class="card-title">Understanding Cryptocurrency Airdrops</h5>
                                    A crypto airdrop is a promotional activity typically performed by blockchain-based startups to help bootstrap a virtual currency project. Its aim is to spread awareness about the cryptocurrency project and to get more people trading in it when it lists on an exchange as an initial coin offering (ICO).

                                    Airdrops are generally promoted on the company's website, social media, and cryptocurrency forums. Coins or tokens are sent only to specific wallets based on the blockchain network or coins held in existing wallets.

                                    To qualify for the free gift, a recipient may need to hold a minimum quantity of the crypto coins in their wallet. Alternatively, they may need to perform a certain task, such as posting about the currency on a social media forum, connecting with a particular member of the blockchain project, or writing a blog post.
                                </p>
                                <a href="https://www.investopedia.com/terms/a/airdrop-cryptocurrency.asp">source</a>
                            </div>
                            <div class="row">
                            <div  class="col-xl-12">
                              <div class="card border-primary mb-3" style="max-width: 90rem;">
                                <div class="card-header">More Info</div>
                                <div class="card-body text-primary">
                                  <h5 class="card-title">charts</h5>
                                    <p class="card-text text-dark">
                                      in the above chart you can see the informations about OSMO Airdrops transactions over time which happened during 6 months starting from 14-6-2021.
                                      as we look at the first bar of the chart we see that on the first week there were a huge amount of transactions happened which was 10,565 and on the second week there were even more with 10,699 on 21-6-2021.another big number is 3,324 on 28-6-2021 and then the airdrops got fewer gradually as the price of Osmo went up.until 13-12-2021 there were airdrops TXs but after that it got cut and the last amount of transactions was 84.
                                      and alos on the pie chart you can see the percentage of the TXs and you see the big number of the first weeks and then it gets smaller and smaller.
                                    </p>
                                </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div> 
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Airdrops</h4>
                                    <p class="card-subtitle mb-4">Airdrops</p>

                                    <div id="amount"></div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                                                
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">receivers</h4>
                                    <p class="card-subtitle mb-4">number of receivers</p>

                                    <div id="num-receiver"></div>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->

                    </div>
                    <div class="row">
                      <div  class="col-xl-12">
                        <div class="card border-primary mb-3" style="max-width: 90rem;">
                          <div class="card-header">More On Airdrops</div>
                          <div class="card-body text-primary">
                            <h5 class="card-title">Receivers & Amount</h5>
                              <p class="card-text text-dark">
                                on the airdrops amount bar chart we see the amount of Osmo that have been airdropped.
                                if we look at the first bar we witness a big number of 6.0869459538 and so on its a big number and even a week after that you see a much bigger number of 1.2455200778654549... also the last big number on 28-06-2021 is 7.920916086277... a  big big number . and the rest you can compare and see. and at last the next bar chart is about the number of receiver for each week we start from the first bar which is 29,356 users received Osmo on first week and then the largest number belongs to the second week on 21-06-2021 with 29,895 and the rest you can see clearly that this number gets much smaller and the number of receivers as the amount of the Osmo get smaller.
                              </p>
                              <div class="container">
                                <div class="row">
                                
                                <p class="card-text text-dark">i owe you an apologize that i couldnt make the numbers human readable as i get betterin this i will find a way for that. home you can accept my apoligize:)</p>
                              </div>
                            </div>
                          </div>
    
                      </div>
                    </div>
                </div> <!-- container-fluid -->

            </div>
            <!-- End Page-content -->
            

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

{% endblock content %}


{% block charts %}
<script>
      
    var options = {
        series: [{
        data: [{% for item in transactions %} {{item}}, {% endfor %}]
      }],
        chart: {
        type: 'bar',
        height: 350
      },
      plotOptions: {
        bar: {
          borderRadius: 4,
          horizontal: true,
        }
      },
      dataLabels: {
        enabled: false
      },
      xaxis: {
        categories: {{labels|safe}}
      }
      };

      var chart = new ApexCharts(document.querySelector("#transactions"), options);
      chart.render();
    {% comment %} transactions polar {% endcomment %}
    var options = {
        series: [{% for item in transactions %} {{item}}, {% endfor %}],
        chart: {
        width: 450,
        type: 'pie',
      },
      labels: {{labels|safe}},
      responsive: [{
        breakpoint: 480,
        options: {
          chart: {
            width: 200
          },
          legend: {
            position: 'bottom'
          }
        }
      }]
      };

      var chart = new ApexCharts(document.querySelector("#transactions-polar"), options);
      chart.render();
      {% comment %} amount and number of receivers {% endcomment %}
      var options = {
        series: [{
        name: 'amount',
        data: [{% for item in amount_airdropped %} {{item}}, {% endfor %}]
      }],
        annotations: {
        points: [{
          x: 'airdrops',
          seriesIndex: 0,
          label: {
            borderColor: '#775DD0',
            offsetY: 0,
            style: {
              color: '#8B0000',
              background: '#8B0000',
            },
            text: 'amount-airdropped',
          }
        }]
      },
      chart: {
        height: 350,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          borderRadius: 10,
          columnWidth: '50%',
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: 2
      },
      
      grid: {
        row: {
          colors: ['#8B0000', '#8B0000']
        }
      },
      xaxis: {
        labels: {
          rotate: -45
        },
        categories: {{labels|safe}},
        tickPlacement: 'on'
      },
      yaxis: {
        title: {
          text: 'amount',
        },
      },
      fill: {
        type: 'gradient',
        gradient: {
          shade: 'light',
          type: "horizontal",
          shadeIntensity: 0.25,
          gradientToColors: undefined,
          inverseColors: true,
          opacityFrom: 0.85,
          opacityTo: 0.85,
          stops: [50, 0, 100]
        },
      }
      };

      var chart = new ApexCharts(document.querySelector("#amount"), options);
      chart.render();
      var options = {
        series: [{
        name: 'receivers',
        data: [{% for item in number_of_receiver %} {{item}}, {% endfor %}]
      }],
        annotations: {
        points: [{
          x: 'receivers',
          seriesIndex: 0,
          label: {
            borderColor: '#775DD0',
            offsetY: 0,
            style: {
              color: '#fff',
              background: '#775DD0',
            },
            text: 'number of receivers',
          }
        }]
      },
      chart: {
        height: 350,
        type: 'bar',
      },
      plotOptions: {
        bar: {
          borderRadius: 10,
          columnWidth: '50%',
        }
      },
      dataLabels: {
        enabled: false
      },
      stroke: {
        width: 2
      },
      
      grid: {
        row: {
          colors: ['#fff', '#f2f2f2']
        }
      },
      xaxis: {
        labels: {
          rotate: -45
        },
        categories: {{labels|safe}},
        tickPlacement: 'on'
      },
      yaxis: {
        title: {
          text: 'receivers',
        },
      },
      fill: {
        type: 'gradient',
        gradient: {
          shade: 'light',
          type: "horizontal",
          shadeIntensity: 0.25,
          gradientToColors: undefined,
          inverseColors: true,
          opacityFrom: 0.85,
          opacityTo: 0.85,
          stops: [50, 0, 100]
        },
      }
      };

      var chart = new ApexCharts(document.querySelector("#num-receiver"), options);
      chart.render();


</script>

{% endblock charts %}
