{% extends '_base.html' %}
{% load static %}
{% block title %}<title>Staking</title>{% endblock title %}
{% block content %}
    
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Transactions</h4>

                                  <div class="page-title-right">
                                      <ol class="breadcrumb m-0">
                                          <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                          <li class="breadcrumb-item active">Transactions</li>
                                      </ol>
                                  </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->
                    <div class="row" > 
                      <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                
                                <h4 class="card-title">transactions</h4>
                                <p class="card-subtitle mb-4">transactions</p>

                                <div id="transactions"></div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                      </div>
                      <div class="row" >
                        <div  class="col-xl-12">
                          <div class="card border-primary mb-3" style="max-width: 90rem;">
                            <div class="card-header">Transactions on staking</div>
                            <div class="card-body text-primary">
                              <h5 class="card-title">transactions</h5>
                                <p class="card-text text-dark">
                                 well here at the above chart we see the transactions stats on stakings we see that the transactions started with the number of 25,444 on 29-11-2021 which it happened delegation or undelegation which we put it under our consideration next. then we witness a high rate with 259,652 Transactions which is the second largest point overtime on 07-11-2021 but then the highest point of all time happens on 14-11-2022 with 588,924 TXs which is really a high number we have another high number on 7-11-2022 with 259,652 transactions and then the rest is al low as 10000 TXs.
                                </p>
                            </div>
                        </div>
                      </div>
                    </div>
                    <div class="row" > 
                      <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                
                                <h4 class="card-title">Pie TX</h4>
                                <p class="card-subtitle mb-4">pie tx</p>

                                <div id="actions"></div>
                
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                      </div>
                      <div class="col-xl-6">
                        <div class="card">
                            <div class="card-body">
                
                                <h4 class="card-title">rewards</h4>
                                <p class="card-subtitle mb-4">rewards</p>

                                <div id="rewards"></div>
                
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                      </div>
                    </div>
                    <div class="row" >
                      <div  class="col-xl-12">
                        <div class="card border-primary mb-3" style="max-width: 90rem;">
                          <div class="card-header">Transactions on staking</div>
                          <div class="card-body text-primary">
                            <h5 class="card-title">transactions</h5>
                              <p class="card-text text-dark">
                               next we have the rewards amounts  which there are many to count so we start from 14-06-2021 with a big number 1,230,245,629,601 a really big number but its just a start we see the rewards around that amount more or less until 28-02-2022 which is 2,637,971,258,347 is the highest number of all and then we can see that the numbers getting lower until 06-02-2023 whic is 14,843,650,757 rewards have been paid.
                              </p>
                          </div>
                      </div>
                    </div>
              </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


{% endblock content %}


{% block charts %}
<script>
  
  var options = {
    series: [{
    name: 'transactions',
    data: [{% for item in transactions %}{{item}},{% endfor %}]
  }],
    chart: {
    type: 'bar',
    height: 350
  },
  plotOptions: {
    bar: {
      horizontal: false,
      columnWidth: '55%',
      endingShape: 'rounded'
    },
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    show: true,
    width: 2,
    colors: ['transparent']
  },
  xaxis: {
    categories: {{labels|safe}},
  },
  yaxis: {
    title: {
      text: '$ (thousands)'
    }
  },
  fill: {
    opacity: 1
  },
  tooltip: {
    y: {
      formatter: function (val) {
        return "$ " + val + " thousands"
      }
    }
  }
  };

  var chart = new ApexCharts(document.querySelector("#transactions"), options);
  chart.render();

  var options = {
    series: [{% for item in transactions %} {{item}}, {% endfor %}],
    chart: {
    width: 450,
    type: 'pie',
  },
  labels: {{labels|safe}},
  responsive: [{
    breakpoint: 480,
    options: {
      chart: {
        width: 200
      },
      legend: {
        position: 'bottom'
      }
    }
  }]
  };

  var chart = new ApexCharts(document.querySelector("#actions"), options);
  chart.render();

  var options = {
    series: [{
    name: 'amount',
    data: [{% for item in reward_amount %} {{item}}, {% endfor %}]
  }],
    annotations: {
    points: [{
      x: 'rewards',
      seriesIndex: 0,
      label: {
        borderColor: '#775DD0',
        offsetY: 0,
        style: {
          color: '#8B0000',
          background: '#8B0000',
        },
        text: 'amount-airdropped',
      }
    }]
  },
  chart: {
    height: 350,
    type: 'bar',
  },
  plotOptions: {
    bar: {
      borderRadius: 10,
      columnWidth: '50%',
    }
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    width: 2
  },
  
  grid: {
    row: {
      colors: ['#f0f0f0', '#f0f0f0']
    }
  },
  xaxis: {
    labels: {
      rotate: -45
    },
    categories: {{date|safe}},
    tickPlacement: 'on'
  },
  yaxis: {
    title: {
      text: 'amount',
    },
  },
  fill: {
    type: 'gradient',
    gradient: {
      shade: 'light',
      type: "horizontal",
      shadeIntensity: 0.25,
      gradientToColors: undefined,
      inverseColors: true,
      opacityFrom: 0.85,
      opacityTo: 0.85,
      stops: [50, 0, 100]
    },
  }
  };

  var chart = new ApexCharts(document.querySelector("#rewards"), options);
  chart.render();
</script>

{% endblock charts %}
