{% extends '_base.html' %}
{% load static %}
{% block title %}<title>Transactions</title>{% endblock title %}
{% block content %}
    
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box d-flex align-items-center justify-content-between">
                                <h4 class="mb-0 font-size-18">Transactions</h4>

                                <div class="page-title-right">
                                    <ol class="breadcrumb m-0">
                                        <li class="breadcrumb-item"><a href="javascript: void(0);">Pages</a></li>
                                        <li class="breadcrumb-item active">Transactions</li>
                                    </ol>
                                </div>
                                
                            </div>
                        </div>
                    </div>     
                    <!-- end page title -->

                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">Transactions</h4>
                                    <p class="card-subtitle mb-4">Transactions weekly</p>
                                    <canvas id="transactions-tx-count-bar-chart"></canvas>
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div> <!-- end col -->
                        <div class="container">
                          <div class="row" >
                            <div  class="col-xl-12">
                              <div class="card border-primary mb-3" style="max-width: 90rem;">
                                <div class="card-header">Transactions</div>
                                <div class="card-body text-primary">
                                  <h5 class="card-title">weekly transactions</h5>
                                  <p class="card-text text-dark">In some ways it helps to think of a transaction in the same way as a paper check. Like a check, a transaction is an instrument that expresses the intent to transfer money and is not visible to the financial system until it is submitted for execution. Like a check, the originator of the transaction does not have to be the one signing the transaction.
      
                                    Transactions can be created online or offline by anyone, even if the person creating the transaction is not an authorized signer on the account. For example, an accounts payable clerk might process payable checks for signature by the CEO. Similarly, an accounts payable clerk can create bitcoin transactions and then have the CEO apply digital signatures to make them valid. Whereas a check references a specific account as the source of the funds, a bitcoin transaction references a specific previous transaction as its source, rather than an account.
                                    
                                    Once a transaction has been created, it is signed by the owner (or owners) of the source funds. If it is properly formed and signed, the signed transaction is now valid and contains all the information needed to execute the transfer of funds. Finally, the valid transaction has to reach the bitcoin network so that it can be propagated until it reaches a miner for inclusion in the pubic ledger (the blockchain). for instance in the chart above you can see the transactions from 14-06-2021 and there were only 47154 transactions happened. from then we can see the market transactions gradually move up until 18-07-2022 when we see a sharp increase to above 10 milion transactions.and the highest point is for a week after that which reaches above 11M TXs.then the decreasing happened after that. </p>
                                </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                    <!-- end row-->
                    
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">cum_tx_Line_Chart</h4>
                                    <p class="card-subtitle mb-4">Cumulative Transactions</p>

                                    <canvas id="cum-tx-line-chart"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
    
                        </div> <!-- end col -->
                        <div class="col-xl-6">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">number_of_blocks</h4>
                                    <p class="card-subtitle mb-4">number of blocks weekly</p>

                                    <canvas id="number_of_blocks"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div>
                    <!-- end row-->
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card">
                                <div class="card-body">
                    
                                    <h4 class="card-title">Avg-Min-Max</h4>
                                    <p class="card-subtitle mb-4">average&minimum&maximum gas used</p>

                                    <canvas id="avg_min_max"></canvas>
                    
                                </div> <!-- end card-body-->
                            </div> <!-- end card-->
                        </div>
                    </div>
                    <div class="container">
                      <div class="row" >
                        <div  class="col-xl-12">
                          <div class="card border-primary mb-3" style="max-width: 90rem;">
                            <div class="card-header">Blocks,CumTx,Gas</div>
                            <div class="card-body text-primary">
                              <h5 class="card-title">overview of gas used and blocks and cumulative trasnactions</h5>
                                <p class="card-text text-dark">well on the first chart which you can see is cum_tx shows the total number of transactions which reaches to 120.9M at 06-02-2023.adn for the number of blocks weekly you can see them in the bottom of the cum_tx chart where it shown the number of blocks which starts from 21-06-2021 with 80035 blocks at the first week somehow the numbers are close to eachother until 06-06-2022 when we see a huge gap happened with just 31k blocks. and then after that week it goes up with more block until 30-01-2023 with 10k blocks. and for the gas used we review the min,max and avg gas used for start lets take a look at the date 14-06-2021 which the min gas used is 152,432 and the avg: 155,427 and the last one is max:159,971. but we see the ighest rate for gas used is for the week 06-09-2021 with avg:2,504,562, min:2,128,067 , max:2,128,067. and then the rate decreased to lower than 545,035</p>
                            </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                
                                <h4 class="card-title">avg-peak-tps</h4>
                                <p class="card-subtitle mb-4">avg-peak-tps</p>

                                <canvas id="avg-peak-tps"></canvas>
                                <div class="container">
                                  <div class="row" >
                                    <div  class="col-xl-12">
                                      <div class="card border-primary mb-3" style="max-width: 90rem;">
                                        <div class="card-header">Transactions per second</div>
                                        <div class="card-body text-primary">
                                          <h5 class="card-title">avg_tps, peak_tps</h5>
                                            <p class="card-text text-dark">
                                              next chart is about the average tps and peak tps as we see the transactions rate started with low rate around 0.29 per second. then the number gets higher gradually goes up,
                                              on 21-03-2022 the increase happens which the avg : 5.4 and the peak : 8.4 transactions per second. Thisand then we see the highest rate on 18-07-2022 with avg:17.18 and peak:23 tps. and then a week after that the numbers stayed close then they collapsed.
                                            </p>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div>
                </div>
              </div>
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->
            

        </div>
        <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->


{% endblock content %}


{% block charts %}
<script>
  
    if ($('#transactions-tx-count-bar-chart').length) {
        var barChartCanvas = $("#transactions-tx-count-bar-chart").get(0).getContext("2d");
        var data = {
          labels: {{ labels|safe }},
          type:'datetime',
          datasets: [
            {
              label: 'Transactions',
              data: [{% for item in tx_count %} {{ item }}, {% endfor %}],
              borderColor: [
                '#2e7ce4'
              ],
              borderWidth: 3,
              fill: true,
              pointBackgroundColor: "#33FF00",
              pointBorderColor: "#33FF00"
            }
          ]
        };
        var options = {
          scales: {
            yAxes: [{
              gridLines: {
                drawBorder: true,
                borderDash: [3, 3]
              },
              ticks: {
                min: 0
              },
            }],
            xAxes: [{
              gridLines: {
                display: false,
                drawBorder: false,
                color: "#33FF00"
              }
            }]
          },
          elements: {
            line: {
              tension: 0.2
            },
            point: {
              radius: 4
            }
          },
          stepsize: 1
        };
        var barChart = new Chart(barChartCanvas, {
          type: 'bar',
          data: data,
          options: options
        });
      }
      if ($('#cum-tx-line-chart').length) {
        var lineChartCanvas = $("#cum-tx-line-chart").get(0).getContext("2d");
        var data = {
          labels: {{labels|safe}},
          datasets: [
            {
              label: 'cum_tx',
              data: [{% for item in cum_tx %} {{item}}, {% endfor %}],
              borderColor: [
                '#003300'
              ],
              borderWidth: 3,
              fill: true,
              pointBackgroundColor: "#330000",
              pointBorderColor: "#2e7ce4"
            },
          ]
        };
        var options = {
          scales: {
            yAxes: [{
              gridLines: {
                drawBorder: false,
                borderDash: [3, 3]
              },
              ticks: {
                min: 0
              },
            }],
            xAxes: [{
              gridLines: {
                display: true,
                drawBorder: false,
                color: "#ffffff"
              }
            }]
          },
          elements: {
            line: {
              tension: 0.2
            },
            point: {
              radius: 4
            }
          },
          stepsize: 1
        };
        var lineChart = new Chart(lineChartCanvas, {
          type: 'line',
          data: data,
          options: options
        });
      }
      if ($("#number_of_blocks").length) {
        var areaData = {
          labels: {{labels|safe}},
          datasets: [{
              data: [{% for item in number_of_blocks %} {{item}}, {% endfor %}],
              backgroundColor: [
                '#990033'
              ],
              borderColor: [
                '#38b3d6'
              ],
              borderWidth: 1,
              fill: 'origin',
              label: "blocks"
            }
          ]
        };
        var areaOptions = {
          responsive: true,
          maintainAspectRatio: true,
          plugins: {
            filler: {
              propagate: false
            }
          },
          scales: {
            xAxes: [{
              gridLines: {
                display: false,
                drawBorder: false,
                color: 'transparent',
                zeroLineColor: '#990033'
              }
            }],
            yAxes: [{
              gridLines: {
                drawBorder: false,
                borderDash: [3, 3]
              },
            }]
          },
          legend: {
            display: false
          },
          tooltips: {
            enabled: true
          },
          elements: {
            line: {
              tension: 0
            },
            point: {
              radius: 0
            }
          }
        }
        var salesChartCanvas = $("#number_of_blocks").get(0).getContext("2d");
        var salesChart = new Chart(salesChartCanvas, {
          type: 'line',
          data: areaData,
          options: areaOptions
        });
      }
      if ($("#avg_min_max").length) {
        var currentChartCanvas = $("#avg_min_max").get(0).getContext("2d");
        var currentChart = new Chart(currentChartCanvas, {
          type: 'bar',
          data: {
            labels: {{labels|safe}},
            datasets: [{
                label: 'Average-gas-used',
                data: [{% for item in average_gas_used %} {{item}}, {% endfor %}],
                backgroundColor: '#FF0000'
              },
              {
                label: 'Minimum-gas-used',
                data: [{% for item in min_gas_used %} {{item}}, {% endfor %}],
                backgroundColor: '#500000'
              },
              {
                label: 'Maximum-gas-used',
                data: [{% for item in maximum_gas_used %} {{item}}, {% endfor %}],
                backgroundColor: '#FF00FF'
              },
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
            
            scales: {
              yAxes: [{
                display: false,
                gridLines: {
                  drawBorder: false,
                },
                ticks: {
                  fontColor: "#686868"
                }
              }],
              xAxes: [{
                ticks: {
                  fontColor: "#686868"
                },
                gridLines: {
                  display: false,
                  drawBorder: false
                }
              }]
            },
            elements: {
              point: {
                radius: 0
              }
            }
          }
        });
      }
      if ($("#avg-peak-tps").length) {
        var currentChartCanvas = $("#avg-peak-tps").get(0).getContext("2d");
        var currentChart = new Chart(currentChartCanvas, {
          type: 'bar',
          data: {
            labels: {{labels|safe}},
            datasets: [{
                label: 'Average-tps',
                data: [{% for item in average_tps %} {{item}}, {% endfor %}],
                backgroundColor: '#FFD700'
              },
              {
                label: 'Peak-tps',
                data: [{% for item in peak_tps %} {{item}}, {% endfor %}],
                backgroundColor: '#228B22'
              }
            ]
          },
          options: {
            responsive: true,
            maintainAspectRatio: true,
            
            scales: {
              yAxes: [{
                display: false,
                gridLines: {
                  drawBorder: false,
                },
                ticks: {
                  fontColor: "#686868"
                }
              }],
              xAxes: [{
                ticks: {
                  fontColor: "#686868"
                },
                gridLines: {
                  display: false,
                  drawBorder: false
                }
              }]
            },
            elements: {
              point: {
                radius: 0
              }
            }
          }
        });
      }
</script>

{% endblock charts %}
